@{
    ViewData["Title"] = "Робота з БД";
}

<div class="text-center">
    <h1 class="display-4">Робота з данними. Пілключення БД.</h1>
</div>
<h2>Перевірка</h2>
<p>
    <b>@ViewData["user-count"]</b>
</p>