
@{
    ViewData["Title"] = "URL";
}

<head runat="server">
    <title>Структура URL</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <img src="/img/URLStructure.png" alt="Структура URL" />
    </div>
    </form>
</body>
</html>
